.header{
    width:100%;
    height:70px;
    display:flex;
    font-size: 20px;
    font-family:cursive;
    .home{
        margin-right: auto;
        margin-left:20px;
        margin-top: 20px;
    }
    .category{
        margin-right:40px;
        margin-top:20px;
        .other{
            margin-right:30px;
        }
        .twitter_link{
            margin-right:20px;
            .logo{
                border-radius: 5px;
            }
        }
    }
}


