.header{
    width:100%;
    height:60px;
    display:flex;
    font-size: 20px;
    font-family:cursive;
    padding-top: 30px;
    .home{
        margin-right: auto;
        margin-left:20px;
    }
    .category{
        margin-right:40px;
        .menus{
            padding-left:0;
            li{
                display:none;
                list-style: none;
            }
        }
        .tag{
            display:none;
        }
        .other{
            margin-right:30px;
        }
        .twitter_link{
            margin-right:20px;
            .logo{
                border-radius: 5px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .header{
        font-size:16px;
        .home{
            margin-left: 15px;
        }
        .category{
            margin-right:30px;
        }
    }
}



@media screen and (max-width:600px) {
    .header{
        font-size:12px;
        height:40px;
        .category{
            position:relative;
            .other{
                display:none;
            }
            .tag{
                display:inline;
                margin-left:10px;
                margin-right:10px;
                position:absolute;
                top:5px;
                right:-20px;
            }
            .tag:hover + .menus{
                background-color: white;
                position: absolute;
                top:15px;
                right:-30px;
                z-index:5;
                padding:2px;
            } 
            .tag:hover + .menus li{
                margin-bottom: 2px;
                display:block;
                z-index: 5;
                text-align: center;
            }
            .twitter_link{
                margin-right: 15px;
            }
            .insta_link{
                margin-right:30px;
            }
        }
    }
}


