.main{
    font-family:cursive;
    .bgimg{
        height:800px;
        background-image: url('../public/niseko.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        opacity:0.8;
        z-index: 1;
        h1{
            font-family:cursive;
            color:white;
            text-align: center;
            padding-top:40px;
            margin-top:0px;
            font-size:70px;
            opacity:1.0;
        }
    }
    .category{
        font-size:30px;
        display:flex;
        justify-content: center;
        height:200px;
        margin:0px 100px;
        .box{
            width:300px;
            height:100px;
            text-align: center;
        }
    }

}

@media screen and (max-width:1200px) {
    .main{
        .bgimg{
            background-size: contain;
            height:500px;
            h1{
                font-size:50px;
                padding-top:20px;
            }
        }
        .category{
            font-size:30px;
            div{
                margin-right:20px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .main{
        .bgimg{
            background-size: contain;
            height:250px;
            h1{
                font-size:30px;
                padding-top:20px;
            }
            
        }
        .category{
            font-size:15px;
            div{
                margin-right:10px;
            }
        }
    }
    
}